@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

jardin {
  width: 100%;
  height: 80vh;
  background-image: url("../img/Sin título.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
  jardin div {
    width: 80%; }
  jardin h1 {
    color: #251701;
    font-size: 70px;
    font-weight: 200;
    font-style: italic;
    text-align: center;
    letter-spacing: 5px; }
    jardin h1 p {
      color: green;
      font-size: 30px;
      text-align: center; }

hisoria {
  background-image: linear-gradient(to right, #3e8806, #845704);
  display: flex;
  justify-content: center;
  align-items: center; }
  hisoria div {
    width: 50%;
    text-align: center;
    font-size: 50px;
    font-style: italic;
    letter-spacing: 5px; }
    hisoria div div img {
      width: 250px;
      height: 350px;
      margin: 20px;
      border-radius: 15px; }

educacion {
  background-image: linear-gradient(to right, #845704, #3e8806);
  color: #251701;
  font-size: 70px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  letter-spacing: 5px; }
  educacion div p {
    font-size: 30px;
    text-align: left; }
    educacion div p div div img {
      width: 250px;
      height: 350px;
      border-radius: 15px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px; }

galeria {
  background-color: #2f6407; }
  galeria div div img {
    width: 250px;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; }
    galeria div div img h5 {
      margin-bottom: 30px;
      font-size: 30px; }
      galeria div div img h5 a {
        text-decoration: none;
        background-color: #c38108;
        padding: 5px;
        color: black;
        border-radius: 5px;
        transition: 1s; }
        galeria div div img h5 a:hover {
          background-color: white;
          color: #c38108; }

footer {
  background-color: #2f6407;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  footer img {
    width: 70px;
    height: 70px; }
  footer ul {
    list-style: none; }
    footer ul li {
      display: inline-block;
      margin: 20px 20px 0 20px; }
      footer ul li a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 600;
        transition: 2s; }
        footer ul li a:hover {
          transform: scale(1.1);
          text-decoration: overline;
          color: orangered; }
